.container {
  max-width: 94%;
  margin: 0 auto;
}
app-international-card {
  float: left;
  height: 100vh;
}
.onepay-testing {
  width: 100%;
  height: 85vh;
  margin-bottom: 5vh;
}
.onepay-testing .onepay-testing-top {
  width: 100%;
  float: left;
}

.onepay-testing .onepay-testing-top h3 {
  float: left;
  color: #0089d0;
  font-weight: bold;
}
.onepay-testing .onepay-testing-top button {
  float: right;
  margin-top: 15px;
}

.app-filters {
  position: absolute;
  left: 3%;
  top: 120px;
  width: 18%;
  float: left;
  margin-right: 1%;
  height: 80%;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100%;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
  0 8px 10px -2px rgba(0,0,0,.14),
  0 3px 14px 2px rgba(0,0,0,.12);
}
.app-finances {
  width: 75%;
  position: absolute;
  right: 3%;
  top: 120px;
  height: 80%;
  float: left;
  box-shadow:  0 5px 5px -3px rgba(0,0,0,.2),
  0 8px 10px -12px rgba(0,0,0,.14),
  0 3px 14px -1px rgba(0,0,0,.12);
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #0089d0;
}
