@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue.ttf") format('truetype');
}
@font-face {
    font-family: 'Agenda';
    src: url("../fonts/Agenda.otf") format('truetype');
}
