footer {
    .main-footer {
        padding: 32px 0;
        float: left;
        width: 100%;
        .main-footer-inner {
            padding-bottom: 32px;
            width: 100%;
            border-bottom: 1px solid #e4e3df;
            float: left;
            .c-form {
                float: left;
                width: 100%;
                input {
                    font-size: 13px;
                    padding: 16px 12px;
                    background-color: #fff;
                    border: 1px solid #dfe3e9;
                    border-radius: 3px;
                    line-height: 1;
                    transition: .3s;
                    &:focus {
                        border-color: #9a9ea5;
                        outline: none;
                    }
                }
                button {
                    padding: 15px 32px 12px;
                    color: #fff;
                    background-color: #5e4651;
                    border: none;
                    border-radius: 50px;
                    margin-left: 15px;
                    &:hover {
                        background-color: #413038;
                    }
                }
            }
            .c-social {
                width: 100%;
                text-align: right;
                margin-top: 15px;
                a {
                    width: 44px;
                    height: 44px;
                    margin-right: 1rem;
                    color: #333;
                    border: 2px solid #333;
                    border-radius: 100%;
                    transition: .3s;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }
                .facebook {
                    padding: 10px 12px;
                }
                .twitter {
                    padding: 10px 10px;
                }
                .linkedin {
                    padding: 10px 11px;
                }
            }
            .international {
                width: 100%;
                select {
                    float: right;
                    padding: 13.5px 24px 12px;
                }
            }
        }
    }
    .footer-bottom {
        float: left;
        width: 100%;
        padding-top: 32px;
        h6 {
            font-weight: 500;
            font-size: 18px;
        }
        a {
            width: 100%;
            float: left;
            color: #777;
            font-size: 13px;
            padding: 12px 0;
        }
    }
}
