.c-services {
  background-color: #f6e7e4;
  float: left;
  width: 100%;
  .container--lg {
    background-image: url(https://www.piql.com/content/uploads/Services_.jpg);
    background-position: 50%;
    margin: 0 auto;
    .c-services-content {
      float: left;
      width: 100%;
      .c-split-content {
        padding: 128px 0;
        .label {
          font-size: 12px;
          font-weight: 500;
          padding: 0 !important;
        }
        .c-split-title {
          font-size: 40px;
          margin-bottom: 6.5px;
          padding-top: 9.5px;
          color: rgb(94, 70, 81);
          font-family: $AgendaRegular, san-serif;
          font-weight: bolder;
        }
        .c-split-text-content {
          margin-bottom: 25px;
          line-height: 32px;
          padding-top: 9px;
          max-width: 350px;
        }
        .c-split-link {
          a {
            padding: 15px 32px 12px;
            color: #fff;
            background-color: #e05f2e;
            border-radius: 50px;
            font-size: 14px;
            &:hover {
              background-color: #a94119;
              box-shadow: 0 2px 10px rgba(0,0,0,.2);
              color: #fff;
              border-color: #413038;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .c-services-grid {
    float: left;
    width: 100%;
    .c-grid-items {
      float: left;
      width: 100%;
      margin-top: 30px;
      .c-grid-item {
        padding: 0 15px;
        text-align: center;
        margin-bottom: 64px;
        height: 180px;
        .image {
          line-height: 75px;
          img {
            width: 40px;
          }
        }
        .title {
          margin-top: 16px;
          font-weight: 500;
          font-family: 'Agenda',sans-serif;
        }
        .content {
          line-height: 25.6px;
          margin-bottom: 23px;
          padding-top: 9px;
          font-size: 12px;
        }
      }
    }
  }
}
.c-tabs {
  width: 100%;
  float: left;
  article {
    padding: 80px 0 60px;
    text-align: center;
    .c-tabs-header {
      width: 556px;
      margin: 0 auto 65px;
      @include breakpoint(mobile) {
        width: 100%;
      }
      .label {
        font-size: 12px;
        font-weight: 500;
        padding: 0 !important;
      }
      h2 {
        font-size: 40px;
        margin-bottom: 6.5px;
        padding-top: 9.5px;
        color: rgb(94, 70, 81);
        font-family: $AgendaRegular, san-serif;
        font-weight: bolder;
      }
      .content {
        margin-bottom: 25px;
        line-height: 32px;
        padding-top: 9px;
      }
    }
  }
  .c-tabs-wrapper {
    width: 100%;
    text-align: center;
    ul.nav-tabs {
      display: flex;
      justify-content: center;
      border: none;
      @include breakpoint(desktop) {
        justify-content: normal;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 10px;
      }
      @include breakpoint(tablet) {
        justify-content: normal;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 10px;
      }
      @include breakpoint(mobile) {
        justify-content: normal;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 10px;
      }
      li{
        display: inline;
        text-align: center;
        a {
          color: #333;
          background-color: transparent;
          border-color: #ddd #ddd #fff;
          font-weight: 500;
          border: none;
          text-shadow: none;
          background-image: none;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          font-size: 15px;
          margin-right: 32px;
          max-width: 120px;
          line-height: 32px;
          padding: 8px 16px;
          text-decoration: none;
          transition: color .1s,background-color .1s;
          figure {
            width: 70px;
            height: 70px;
            margin-bottom: 16px;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0,0,0,.15);
            border-radius: 6px;
            position: relative;
            font-weight: bolder;
            .c-tabs__nav__count {
              font-size: 11px;
              justify-content: center;
              left: calc(50% - 10px);
              width: 20px;
              height: 20px;
              top: -10px;
              color: #fff;
              background-color: #dc3e47;
              border-radius: 100%;
              line-height: 1;
              text-align: center;
              box-shadow: 0 2px 10px rgba(0,0,0,.15);
              position: relative;
              padding: 5px;
            }
            &:hover {
              background-color: #5e4651;
            }
          }
        }
        .active {
          figure {
            background-color: #5e4651;
          }
        }
      }
    }
  }
  .tab-content {
    max-width: 556px;
    margin: 0 auto 16px;
    text-align: center;
    .tab-content-detail {
      .title {
        font-size: 32px;
        margin-bottom: 2.5px;
        padding-top: 13.5px;
      }
      .tab-content-text {
        line-height: 32px;
        margin-bottom: 23px;
        padding-top: 13.5px;
        min-height: 150px;
      }
    }
  }
  .c-tabs__next-trigger {
    cursor: pointer;
  }
}
.c-split--full-center {
  h2 {
    text-align: center !important;
  }
  .c-split__content {
    max-width: 1170px;
    width: 100%;
    text-align: center;
  }
  .c-split__links {
    width: 100%;
  }
}
.c-masonry {
  float: left;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  .header {
    margin-bottom: 65px;
    .label {
      font-size: 12px;
      font-weight: 500;
      padding: 0 !important;
    }
    h2 {
      font-size: 40px;
      margin-bottom: 6.5px;
      padding-top: 9.5px;
      color: rgb(94, 70, 81);
      font-family: $AgendaRegular, san-serif;
      font-weight: bolder;
    }
  }
  .c-masonry-items {
    .c-masonry-1 {
      padding: 62px 96px;
      background-color: rgba(134,32,62,.1);
      justify-content: center;
      @include breakpoint(mobile) {
        padding: 36px 24px;
      }
      figure {
        width: 100%;
        text-align: center;
        margin-bottom: 64px;
        img {
          width: 100%;
          max-width: 150px;
        }
      }
      .description {
        line-height: 32px;
        margin-bottom: 24px;
        text-align: center;
        padding: 9px 15px 0;
      }
      .title {
        font-weight: bold;
        line-height: 32px;
      }
    }
    .c-masonry-2 {
      padding: 80px 64px;
      background-color: rgba(134,32,62,.05);
      img {
        width: 100%;
        max-width: 115px;
        max-height: 100px;
      }
    }
    .c-masonry-3 {
      background-color: rgba(134,32,62,.08);
      padding: 80px 64px;
      img {
        width: 100%;
        max-width: 150px;
        max-height: 32px;
      }
    }
    .c-masonry-4 {
      background-color: rgba(134,32,62,.1);
      padding: 110px 64px;
      img {
        width: 100%;
        max-width: 150px;
      }
    }
  }
}
