/*
    dimension definition
*/
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1180px;
$width-large-wrap: 1450px;

/*Font - start*/
$HelveticaNeueRegular: 'HelveticaNeue', san-serif;
$AgendaRegular: 'Agenda', san-serif;
/*Font - end*/

/*Color - start*/
$color-white: #fff;
$color-black: #000;
$color-header-menu-active: #005298;
$color-exhibition-events-bg: #ed6a51;
$color-advertising-communications-bg: #5dbe6a;
$color-commercial-services: #bb71ca;
$color-exhibition-calendar: #4a90e2;
$color-border-title: #c9c9c9;
$color-title: #4a4a4a;
$color-text: #333;
$color-facebook: #3b5999;
$color-skype: #00AFF0;
$color-footer: #4a4a4a;
$background-footer: #f8f8f8;
$panel-block-a-hover: #2aa5ab;
$color-success-default: #2FD3AE;
$color-error-message: #FF596D;
$button-learnmore-hover: #333;
$contact-input-border: #cdd6da;
$contact-input-background: #fafafa;
$color-yellow: #ffef03;
/*Color - end*/
