<header>
	<nav>
		<a routerLink="/"><img src="../assets/images/logo.png"></a>
		<a routerLink="/international-card" routerLinkActive="active"
		   [routerLinkActiveOptions]="{exact: true}">
			<span>International Card</span>
		</a>
		<a routerLink="/domestic" routerLinkActive="active"
		   [routerLinkActiveOptions]="{exact: true}">
			<span>Domestic</span>
		</a>
		<a routerLink="/admin" routerLinkActive="active"
		   [routerLinkActiveOptions]="{exact: true}">
			<span>Admin</span>
		</a>
		<a routerLink="/file-management" routerLinkActive="active"
		   [routerLinkActiveOptions]="{exact: true}">
			<span>File Management</span>
		</a>
	</nav>
</header>

<router-outlet></router-outlet>
