<mat-card>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="filter-form">
		<!-- Merchant ID -->
		<mat-form-field class="filter-full-width">
			<input matInput placeholder="Merchant ID" name="merchantId" ngModel class="merchantId">
		</mat-form-field>
		<!-- From Date -->
		<mat-form-field>
		  <input matInput [matDatepicker]="fromDate" name="fromDate" ngModel placeholder="From Date">
		  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
		  <mat-datepicker #fromDate></mat-datepicker>
		</mat-form-field>
		<!-- To Date -->
		<mat-form-field>
			<input matInput [matDatepicker]="toDate" name="toDate" ngModel placeholder="To Date">
			<mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
			<mat-datepicker #toDate></mat-datepicker>
		</mat-form-field>
		<!-- Transaction ID -->
		<mat-form-field class="filter-full-width">
			<input matInput placeholder="Transaction ID" name="transactionId" ngModel class="transactionId">
		</mat-form-field>
		<!-- Order Reference -->
		<mat-form-field class="filter-full-width">
			<input matInput placeholder="Order Reference" name="orderReference" ngModel class="orderReference">
		</mat-form-field>
		<!-- Merchant trans Ref -->
		<mat-form-field class="filter-full-width">
			<input matInput placeholder="Merchant trans Ref" name="merchantTransRef" ngModel class="merchantTransRef">
		</mat-form-field>
		<!-- Card Number -->
		<mat-form-field class="filter-full-width">
			<input matInput placeholder="Card Number" name="cartNumber" ngModel class="cartNumber">
		</mat-form-field>
		<!-- Currency -->
		<mat-form-field class="filter-full-width">
			<mat-select placeholder="Currency" name="currency" ngModel disableRipple>
				<mat-option value="All">All</mat-option>
				<mat-option value="USD">USD</mat-option>
				<mat-option value="VND">VND</mat-option>
			</mat-select>
		</mat-form-field>
		<!-- Card Type -->
		<mat-form-field class="filter-full-width">
			<mat-select placeholder="Card Type" name="careType" ngModel disableRipple>
				<mat-option value="All">All</mat-option>
				<mat-option value="Visa">Visa</mat-option>
				<mat-option value="Master">Master</mat-option>
				<mat-option value="CUP">CUP</mat-option>
				<mat-option value="JCB">JCB</mat-option>
				<mat-option value="Amex">Amex</mat-option>
			</mat-select>
		</mat-form-field>
		<!-- Transaction Type -->
		<mat-form-field class="filter-full-width">
			<mat-select placeholder="Transaction Type" name="transactionType" ngModel disableRipple>
				<mat-option value="All">All</mat-option>
				<mat-option value="Purcharse">Purcharse</mat-option>
				<mat-option value="Refund">Refund</mat-option>
			</mat-select>
		</mat-form-field>
		<!-- Transaction State -->
		<mat-form-field class="filter-full-width">
			<mat-select placeholder="Transaction State" name="transactionState" ngModel disableRipple>
				<mat-option value="All">All</mat-option>
				<mat-option value="Successfull">Successfull</mat-option>
				<mat-option value="Failed">Failed</mat-option>
			</mat-select>
		</mat-form-field>

		<button mat-raised-button color="primary" class="search" type="submit">Search</button>

		<button mat-raised-button color="primary" class="clear">Clear</button>
	</form>
</mat-card>
<!-- <app-filters (messageEvent)="receiveMessage($event)"></app-filters> -->